{% extends 'base.html' %}
{% block content %}
<h1 class="bg-warning text-center">RESPONSE DATA</h1>
<table id="bootstrapdatatable" class="text-dark bg-success mb-3 table-resposive">
  <thead>
    <tr>
      <th scope="col"><input type="checkbox" id="checkall" /></th>
      <th scope="col">ID</th>
      <th scope="col">Username</th>
      <th scope="col">Firstname</th>
      <th scope="col">Lastname</th>
      <th scope="col">Email</th>
      <th scope="col">Created</th>
    </tr>
  </thead>
  <tbody>
  {% for employee in param %}
    <tr class="text-white bg-dark">
      <td><input type="checkbox" class="checkthis" /></td>
      <td>{{employee.id}}</td>
      <td>{{employee.username}}</td>
      <td>{{employee.firstname}}</td>
      <td>{{employee.lastname}}</td>
      <td>{{employee.email}}</td>
      <td>{{employee.created}}</td>
        <td><a href="/edit/{{employee.id}}" class="btn btn-warning btn-xs">Edit</a></td>
      <td><button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete
  </button></td></tr>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Employee</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h5>Are You Sure Want To Delete..??</h5>
        </div>
        <div class="modal-footer">
          <a href="/delete/{{employee.id}}" class="btn btn-danger btn-xs">Delete</a>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </form>
        </div>
      </div>
    </div>
  </div>

    </tr>
    {% endfor %}
  </tbody>
</table>
</div class="container">
<a href="/" class="btn btn-secondary">Back</a>
</div>
{% endblock content %}




